.container {
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: $shadow;
    margin: 0 auto;
    overflow: hidden;
    background-color: $white;
    @media(max-width:768px){
      width: 100%;
    }
    
  }