@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
$black: #020617;
$primary: #22c55e;
$primary-light: #bbf7d0;
$secondary: #db2777;
$secondary-light: #fce7f3;
$gray: #f3f4f6;
$gray-dark: #cbd5e1;
$white: #f9fafb;
$shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
